
.c-img0{
    width: 120px;
    
}

.c-img1{
    height: 45px;
    width: 45px;
}


.main-container{
    display: flex;
    flex-direction: row;
}

.first-container{
    height: 100%;
    width: 80px;
    color: white;
    background-color:rgb(5, 5, 26);
    
}

.first-sub-container{
    width: 100%;
    padding-top: 3rem;

}

.icon-list{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.icon{
    font-size: 10px;
}




.second-container{
    height: 100%;
    width: 100%;
    padding-left: 80px;
}

.container-new-student{
    padding-top: 4rem;
    color: white;
}

.student{
    font-size: 12px;
}

.button-plus{
    border: 1px solid white;
}



.text{
    font-size: 10px;
}



.angle{
    font-size: 10px;
}

.plus{
    font-size: 11px;
    font-size: 8px;
    padding-inline: 0.5rem;
    padding-bottom: 0.1rem;
    background-color: #00008b67;
    color: white;
    border-radius: 100%; 
}



.container-table{
    margin-inline: 1rem;
    margin-top: 1rem;
    border: 1px solid lightgray;
}

.table{
    font-size: 11px;
    font-weight: 600;
}



.c-img2{
    height: 20px;
    width: 20px;
}





.m-text{
    font-size: 11px;
}

.accordion-body{
    font-size: 12px;
}


.m-text2{
    font-size: 9px;
    padding-inline: 0.5rem;
}




.c-img3{
    height: 100px;
    width: 100px;
}

@media screen and (min-width: 481px){
    .c-img1{
        display: none;
    }

    .img1{
        display: none;
    }

    .cerchio{
        display: none;
    }
}

@media screen and (max-width: 480px) {

    .first-container{
        height: 100%;
        width: 40px;  
    }

    .second-container{
        height: 100%;
        width: 100%;
        padding-left: 40px;
    }

    .icon{
        display: flex;
        justify-content: center;
        font-size: 15px;
    }

    .applicazione{
        display: none;
    }

    .text-icon{
        display: none;
    }

    .c-img0{
        display: none;
    }

    .img0{
        display: none;
    }

    .cell{
        display: none;
    }
    .classe{
        width: 40%;
    }
}